In [1]:
#Basic Assignment 1, Classifier

#Import required packages

#Import Scikit-Learn
import sklearn

#For this question, you will need to import the decision tree 
#and kappa classes
from sklearn import tree
from sklearn.metrics import cohen_kappa_score

#Use the following classifier and hyperparameters:
#tree.DecisionTreeClassifier(min_samples_split=10)

# Import other packages you will need
import numpy as np
import pandas as pd
import os
#import csv

#Find where this notebook is in case you need a filepath 
#to load the dataset
print(os.getcwd())

C:\Users\perci\OneDrive\Documents\04_Teaching\Core Methods in EDM\Assignments\BasicAssign1_Classifier

In [2]:
#Read in the dataset using pandas
#If dataset is in the same folder with this file it should read it in.
data = pd.read_csv('Godwin_dataset.csv')

#Example of using the full file path just in case.
#data = pd.read_csv('C:/Users/Put/Your/Filepath/Here/Godwin_dataset.csv')

#Check the file
data.head()

,UNIQUEID,SCHOOL,Class,GRADE,CODER,STUDENTID,Gender,OBSNUM,totalobs-forsession,Activity,ONTASK,TRANSITIONS,NumACTIVITIES,FORMATchanges,NumFORMATS,Obsv/act,Transitions/Durations,Total Time
0,14400,B,T9Q,0,Z,600865,0,1,0,Wholecarpet,Y,3,4,1,2,770.5,0.004043,0
1,14401,B,T9Q,0,Z,596466,0,1,1,Wholecarpet,Y,3,4,1,2,770.5,0.004043,23
2,14402,B,T9Q,0,Z,616590,0,1,2,Wholecarpet,Y,3,4,1,2,770.5,0.004043,25
3,14403,B,T9Q,0,Z,734358,1,1,3,Wholecarpet,Y,3,4,1,2,770.5,0.004043,27
4,14404,B,T9Q,0,Z,826308,1,1,4,Wholecarpet,Y,3,4,1,2,770.5,0.004043,31

In [3]:
#It is important to note that Python’s native implementation of 
#decision trees uses the CART(Classification and Regression Trees) algorithm.

#CART can only input numerical variables, so you will have to transform 
#string-type variables to numerical variables.

#Your current data set has string-type variables.

#In order to allow CART to use these variables, 
#you will need to perform one-hot-encoding on all your string-type variables.

data1 = pd.get_dummies(data, columns = ['SCHOOL', 'Class', 'CODER ', 'Activity'])
###Note: there are some extra spaces in column names which is a common problem
###with real data.

#Take another look at the data
data1.head()

,UNIQUEID,GRADE,STUDENTID,Gender,OBSNUM,totalobs-forsession,ONTASK,TRANSITIONS,NumACTIVITIES,FORMATchanges,...,Class_T9U,Class_T9V,CODER _Y,CODER _Z,Activity_Dancing,Activity_Individual,Activity_Smallgroup,Activity_Testing,Activity_Wholecarpet,Activity_Wholedesks
0,14400,0,600865,0,1,0,Y,3,4,1,...,0,0,0,1,0,0,0,0,1,0
1,14401,0,596466,0,1,1,Y,3,4,1,...,0,0,0,1,0,0,0,0,1,0
2,14402,0,616590,0,1,2,Y,3,4,1,...,0,0,0,1,0,0,0,0,1,0
3,14403,0,734358,1,1,3,Y,3,4,1,...,0,0,0,1,0,0,0,0,1,0
4,14404,0,826308,1,1,4,Y,3,4,1,...,0,0,0,1,0,0,0,0,1,0

In [4]:
#You will then need to create an array containing only the label,
#or the variable you want to predict.

#In this case, the label is ONTASK.
y = np.array(data[["ONTASK"]])

#Take a look at the array
y

array([['Y'],
       ['Y'],
       ['Y'],
       ...,
       ['Y'],
       ['Y'],
       ['N']], dtype=object)

In [5]:
#You will then need to remove ONTASK 
#from your data set before building your decision tree.

X = data1.drop(columns=['ONTASK'])

#What does the file look like now?
X.head()

,UNIQUEID,GRADE,STUDENTID,Gender,OBSNUM,totalobs-forsession,TRANSITIONS,NumACTIVITIES,FORMATchanges,NumFORMATS,...,Class_T9U,Class_T9V,CODER _Y,CODER _Z,Activity_Dancing,Activity_Individual,Activity_Smallgroup,Activity_Testing,Activity_Wholecarpet,Activity_Wholedesks
0,14400,0,600865,0,1,0,3,4,1,2,...,0,0,0,1,0,0,0,0,1,0
1,14401,0,596466,0,1,1,3,4,1,2,...,0,0,0,1,0,0,0,0,1,0
2,14402,0,616590,0,1,2,3,4,1,2,...,0,0,0,1,0,0,0,0,1,0
3,14403,0,734358,1,1,3,3,4,1,2,...,0,0,0,1,0,0,0,0,1,0
4,14404,0,826308,1,1,4,3,4,1,2,...,0,0,0,1,0,0,0,0,1,0

In [6]:
#You are now ready to build your decision tree.

#Feed your set of features and the list of labels 
#into the DecisionTreeClassifier operator.
clf = tree.DecisionTreeClassifier(min_samples_split=10)
clf.fit(X, y)

#Can you compute the kappa now?

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [7]:
#In order to compute kappa, you will first need to get
#the values predicted by your model.

predictions = clf.predict(X)

#What does this array look like?
predictions

array(['Y', 'Y', 'Y', ..., 'Y', 'Y', 'N'], dtype=object)

In [8]:
#Next, you will need to compare the predictions 
#to the actual labels in order to compute kappa.
kappa = cohen_kappa_score(y, predictions)

#Finally, print kappa.
print(kappa)

#The correct answer is 0.73

0.7290395942586347

In [9]:
#Question 2 of 10: 
#That is the correct answer, but the model may be over-fitting
#to which student it is. 
#What is the kappa if you build the model excluding student? 
X = data1.drop(columns=['ONTASK', 'STUDENTID'])

#Double-check file
X.head()

,UNIQUEID,GRADE,Gender,OBSNUM,totalobs-forsession,TRANSITIONS,NumACTIVITIES,FORMATchanges,NumFORMATS,Obsv/act,...,Class_T9U,Class_T9V,CODER _Y,CODER _Z,Activity_Dancing,Activity_Individual,Activity_Smallgroup,Activity_Testing,Activity_Wholecarpet,Activity_Wholedesks
0,14400,0,0,1,0,3,4,1,2,770.5,...,0,0,0,1,0,0,0,0,1,0
1,14401,0,0,1,1,3,4,1,2,770.5,...,0,0,0,1,0,0,0,0,1,0
2,14402,0,0,1,2,3,4,1,2,770.5,...,0,0,0,1,0,0,0,0,1,0
3,14403,0,1,1,3,3,4,1,2,770.5,...,0,0,0,1,0,0,0,0,1,0
4,14404,0,1,1,4,3,4,1,2,770.5,...,0,0,0,1,0,0,0,0,1,0

In [10]:
#Re-run the process and print kappa

#Fit decision tree model
clf = tree.DecisionTreeClassifier(min_samples_split=10)
clf.fit(X, y)

#Calculate predictions
predictions = clf.predict(X)
predictions
 
#Compute kappa
kappa = cohen_kappa_score(y, predictions)

#Generate kappa
print(kappa)

#The correct answer is 0.72

0.7169262296955357

In [11]:
#Question 4 of 10: 
#What is the non-cross-validated kappa, 
#if you build the decision tree model (using the same operator),
#excluding student and the variables from Question 3?

#Recall that you decided to eliminate School, Class, Coder, and UNIQUEID,
#as well as STUDENTID

#Hints
#Before dropping these columns, 
#it is first important to remember that you had 
#initially transformed your string-type variables 
#into numerical values. 
#Because of this, the data set you were working with 
#had an additional one column each per unique value 
#in each string-type variable. 

#In order to drop the above columns 
#and perform all other analyses that follow, 
#you will first need to re-trace your steps 
#when getting dummy variables, 
#and this time, get dummies for the 
#only string-type variable you want to 
#actually retain and use in your model 
#(i.e., “Activity”)

data1 = pd.get_dummies(data, columns=['Activity'])

#Check file
data1.head()

,UNIQUEID,SCHOOL,Class,GRADE,CODER,STUDENTID,Gender,OBSNUM,totalobs-forsession,ONTASK,...,NumFORMATS,Obsv/act,Transitions/Durations,Total Time,Activity_Dancing,Activity_Individual,Activity_Smallgroup,Activity_Testing,Activity_Wholecarpet,Activity_Wholedesks
0,14400,B,T9Q,0,Z,600865,0,1,0,Y,...,2,770.5,0.004043,0,0,0,0,0,1,0
1,14401,B,T9Q,0,Z,596466,0,1,1,Y,...,2,770.5,0.004043,23,0,0,0,0,1,0
2,14402,B,T9Q,0,Z,616590,0,1,2,Y,...,2,770.5,0.004043,25,0,0,0,0,1,0
3,14403,B,T9Q,0,Z,734358,1,1,3,Y,...,2,770.5,0.004043,27,0,0,0,0,1,0
4,14404,B,T9Q,0,Z,826308,1,1,4,Y,...,2,770.5,0.004043,31,0,0,0,0,1,0

In [12]:
#Now you can drop the necessary columns 
#before building your decision tree.

X = data1.drop(columns=['ONTASK', 'STUDENTID', 'SCHOOL', 'Class', 'CODER ', 'UNIQUEID '])

#Check file
X.head()

,GRADE,Gender,OBSNUM,totalobs-forsession,TRANSITIONS,NumACTIVITIES,FORMATchanges,NumFORMATS,Obsv/act,Transitions/Durations,Total Time,Activity_Dancing,Activity_Individual,Activity_Smallgroup,Activity_Testing,Activity_Wholecarpet,Activity_Wholedesks
0,0,0,1,0,3,4,1,2,770.5,0.004043,0,0,0,0,0,1,0
1,0,0,1,1,3,4,1,2,770.5,0.004043,23,0,0,0,0,1,0
2,0,0,1,2,3,4,1,2,770.5,0.004043,25,0,0,0,0,1,0
3,0,1,1,3,3,4,1,2,770.5,0.004043,27,0,0,0,0,1,0
4,0,1,1,4,3,4,1,2,770.5,0.004043,31,0,0,0,0,1,0

In [13]:
#After dropping, re-run the rest of the process as before, 
#and print kappa

#Fit decision tree model
clf = tree.DecisionTreeClassifier(min_samples_split=10)
clf.fit(X, y)

#calculate predictions
predictions = clf.predict(X)
predictions
 
#compute kappa
kappa = cohen_kappa_score(y, predictions)

#generate kappa
print(kappa)

#Correct answer is 0.70 or 0.71

0.7063300567400308

In [14]:
#Question 5 of 10:
#What is the non-cross-validated kappa 
#for the same set of variables you used for Question 4 
#if you use Naive Bayes instead of CART? 
#Please use 2 decimal places.

#Import the following package
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

#Instead of feeding your set of features 
#and list of labels into the DecisionTreeClassifier operator,
#you will instead feed them into the GaussianNB operator

In [15]:
#The GaussianNB operator expects a 1-dimensional array of labels. 
#Currently, your list of labels is an array of 
#single-item lists. 
#In order to satisfy this requirement, you will need 
#to flatten your array using the ravel() function.

#You are now ready to build your new decision tree.
gnb.fit(X, y.ravel())

GaussianNB(priors=None, var_smoothing=1e-09)

In [16]:
#Like earlier, you will need to get the list of your 
#models predictions in order to compute kappa.

#calculate predictions
predictions = gnb.predict(X)
predictions

#Re-run the rest of your process and print kappa.

#compute kappa
kappa = cohen_kappa_score(y, predictions)

#generate kappa
print(kappa)

#Correct answer is 0.07

0.07280735686960182

In [17]:
#Question 6 of 10: 
#What is the non-cross validated kappa 
#for the same set of variables you used for Question 4
#if you use gradient boosting instead of CART? 

#Please use 2 decimal places. 

#You will need to use the following packages:
#GradientBoostingClassifier from sklearn.ensemble 

#Use the following classifier and hyperparameters:
#GradientBoostingClassifier(learning_rate=0.5,
#n_estimators=200,
#min_samples_split=.1,
#min_samples_leaf=.05,
#min_weight_fraction_leaf=.05,
#random_state=5)

from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier

In [18]:
#Use the attribute values listed in the question 
#when working towards getting your answer to this question, 
#but feel free to play around with these values to see 
#how they affect your model’s performance.

#Separate parameters are on separate lines with "\" for line break

gb = GradientBoostingClassifier(learning_rate = 0.5\
                                , n_estimators = 200\
                                , min_samples_split = 0.1\
                                , min_samples_leaf = 0.05\
                                , min_weight_fraction_leaf = 0.05\
                                , random_state = 5\
                               )

In [19]:
#Like the previously used Naïve Bayes operator, 
#the GradientBoostingClassifier operator expects a 
#1-dimensional array of labels. 

#You will need to flatten your array using something 
#like the ravel() function.

gb.fit(X, y.ravel())

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.5, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=0.05, min_samples_split=0.1,
              min_weight_fraction_leaf=0.05, n_estimators=200,
              n_iter_no_change=None, presort='auto', random_state=5,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [20]:
#You are now ready to build your new decision tree.

#Like earlier, you will need to get the list of your 
#model's predictions in order to compute kappa.

#calculate predictions
predictions = gb.predict(X)
predictions
 
#compute kappa
kappa = cohen_kappa_score(y, predictions)

#generate kappa
print(kappa)

#Correct answer is 0.13

0.1259426379237587

In [22]:
#Question 7 of 10:
#What is the kappa, if you delete 
#School, Class, Coder, UNIQUEID, and STUDENTID,
#use CART, and conduct 10-fold student-level batch cross-validation? 
#Please use 2 decimal places.

#In order to perform batch cross-validation, 
#you will first need to import the necessary module: 
from sklearn.model_selection import GroupKFold

In [23]:
#You will first need to ensure that each student appears 
#in ONLY ONE batch. 

#This way, for example, if the model is trained using Student A’s data,
#the model cannot also be trained [TESTED?] on Student A’s data

#You can do this by creating a dictionary of unique student IDs,
#each linked to a specific index number.

#I've changed "s_id" from assignment to "student_id"

group_dict = {}
groups = np.array([])
for index, row in data.iterrows():
    student_id = row['STUDENTID']
    if student_id not in group_dict:
        group_dict[student_id] = index
    groups = np.append(groups, group_dict[student_id])

In [24]:
#You now need to create the batching variable.
#Remember, you are creating 10 folds 
#(i.e., each studentcan only be assigned to one of 10 groups).

gkf = GroupKFold(n_splits=10)

#You are now ready to build your model,
#this time using batch cross-validation, 
#iterating through your folds using the 
#batching variable you just created:

#Be sure to create a list of variables 
#outside the for-loop to store all 10 kappa values. 
kappaValues = []

for train_index, test_index in gkf.split(X, y, groups=groups):
    
#All other code stubs in the following hints 
#will be within the newly created for-loop, 
#unless otherwise stated.
#Using the training and testing indices, 
#pull the relevant features (from X) 
#and labels (from y) before building a model in this iteration:

    X_train = X.iloc[train_index]
    X_test = X.iloc[test_index]
    y_train = y[train_index]
    y_test = y[test_index]
    
    clf = tree.DecisionTreeClassifier(min_samples_split=10)
    clf.fit(X_train, y_train)
    predictions = clf.predict(X_test)
    
    kappa = cohen_kappa_score(y_test, predictions)
    kappaValues.append(kappa)

kappaValues
#kappaValues[1]

#Be sure to create a list of variables 
#outside the for-loop to store all 10 kappa values.

[0.11317249030222243,
 0.07001645499645948,
 0.09129224396237312,
 0.11688548206709914,
 0.11380889150021822,
 0.14863006282382374,
 0.0714454960939388,
 0.10854562426698788,
 0.11182214018114656,
 0.08505501082970235]

In [25]:
#Import mean
from statistics import mean

#Get the averagekappa and print
mean(kappaValues)

#Answer is 0.10

0.10306738970239718

In [26]:
#Question 8 of 10: What is the kappa, 
#for the same set of variables you used for question 4, 
#if you use NaiveBayes, and conduct 10-fold student-level
#batch cross-validation?

from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GroupKFold

In [27]:
#Using the same batching and for-loop created in Question 7,
#replace the existing DecisionTreeClassifier with the GaussianNB operator

#recreating batching and for loop

#You now need to create the batching variable.
#Remember, you are creating 10 folds 
#(i.e., each studentcan only be assigned to one of 10 groups).

gkf = GroupKFold(n_splits=10)

#You are now ready to build your model,
#this time using batch cross-validation, 
#iterating through your folds using the 
#batching variable you just created:

#Be sure to create a list of variables 
#outside the for-loop to store all 10 kappa values. 
kappaValuesGNB = []

for train_index, test_index in gkf.split(X, y, groups=groups):
    
#All other code stubs in the following hints 
#will be within the newly created for-loop, 
#unless otherwise stated.
#Using the training and testing indices, 
#pull the relevant features (from X) 
#and labels (from y) before building a model in this iteration:

    X_train = X.iloc[train_index]
    X_test = X.iloc[test_index]
    y_train = y[train_index]
    y_test = y[test_index]
    
    gnb = GaussianNB()
    
    #Re-run the entire process and print the cross-validated kappa. 
    #Remember to flatten your list of labels during model fitting
    gnb.fit(X_train, y_train.ravel())
    predictions = gnb.predict(X_test)
    
    kappa = cohen_kappa_score(y_test, predictions)
    kappaValuesGNB.append(kappa)

kappaValuesGNB

[0.024748638626596597,
 0.09535154892495845,
 0.030661741059549774,
 0.08747049658493666,
 0.04116513229724095,
 0.07790501784926396,
 0.055647959860306906,
 0.05917452264919698,
 0.03467028811026751,
 0.08402167428712604]

In [28]:
from statistics import mean
mean(kappaValuesGNB)

#Answer is 0.06

0.05908170202494438

In [29]:
#Question 9 of 10: What is the kappa, 
#for the same set of variables you used for question 4, 
#if you useGradient Boosting, 
#and conduct 10-fold student-level batch cross-validation?

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GroupKFold

In [30]:
#Using the same batching and for-loop created in Question 7,
#replace the existing GaussianNB with the GradientBoostingClassifieroperator

#Repeating batching and for loop below for clarity

#You now need to create the batching variable.
#Remember, you are creating 10 folds 
#(i.e., each studentcan only be assigned to one of 10 groups).

gkf = GroupKFold(n_splits=10)

#You are now ready to build your model,
#this time using batch cross-validation, 
#iterating through your folds using the 
#batching variable you just created:

#Be sure to create a list of variables 
#outside the for-loop to store all 10 kappa values. 
kappaValuesGB = []

for train_index, test_index in gkf.split(X, y, groups=groups):
    
#All other code stubs in the following hints 
#will be within the newly created for-loop, 
#unless otherwise stated.
#Using the training and testing indices, 
#pull the relevant features (from X) 
#and labels (from y) before building a model in this iteration:

    X_train = X.iloc[train_index]
    X_test = X.iloc[test_index]
    y_train = y[train_index]
    y_test = y[test_index]
    
    gb = GradientBoostingClassifier(learning_rate = .5\
                                     , n_estimators = 200\
                                     , min_samples_split = .1\
                                     , min_samples_leaf = .05\
                                     , min_weight_fraction_leaf = .05\
                                     , random_state=5)
    #flatten labels with GaussianNB
    gb.fit(X_train, y_train.ravel())
    predictions = gb.predict(X_test)
    
    kappa = cohen_kappa_score(y_test, predictions)
    kappaValuesGB.append(kappa)

kappaValuesGB

[0.07081825305025924,
 0.06348312224301689,
 0.06650241269321999,
 0.1055751219190153,
 0.08856499890208103,
 0.1310904355955217,
 0.11049275079935672,
 0.07879063651958351,
 0.0522209162328916,
 0.1061781382894944]

In [31]:
from statistics import mean
mean(kappaValuesGB)

#Answer is 0.09

0.08737167862444403